* {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  --gray: #8a9294;
  --black: #252525;
  --magenta: #e59982;
  --bege: #ffd7c1;
  --blue: #072083;
  --orange: #f85b1a;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--black);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

[wm-game] {
  position: absolute;
  width: 800px;
  height: 600px;
}

.background {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.player {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player img {
  transform: rotate(-90deg);
  width: 120%;
  height: 120%;
}

.level {
  position: absolute;
  display: grid;
}

.cell {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.wall {
  background-color: var(--magenta);
}

.floor {
  background-color: var(--bege);
}

.wall.blink {
  animation: wallBlinke 1s linear infinite;
}

.player.blink {
  animation: playerBlink 1s linear infinite;
}

.tree {
  width: 100%;
  height: 100%;
}

.tree img {
  width: 100%;
  height: 100%;
}

.scoreboard {
  bottom: 0;
  position: absolute;
  display: flex;
  width: 100%;
  height: 15%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.scoreboard .energy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  color: #fff;
  font-size: 2rem;
  background-color: red;
}

@keyframes wallBlinke {
  50% {
    opacity: 0.8;
  }
}

@keyframes playerBlink {
  50% {
    opacity: 0.8;
    filter: hue-rotate(40deg);
  }
}
